name: MLflow Pipeline CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run MLflow Pipeline
        run: python src/mlflow_pipeline.py

      - name: Upload artifacts
        uses: actions/upload-artifact@v4 # <-- updated to v4
        with:
          name: mlflow-artifacts
          path: |
            models/
            metrics/
            data/
